<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!--products-->

        <div *ngFor="let pp of products" class="col-md-3">
          <div class="product-box">
            <img src="{{pp.imageUrl}}" class="img-responsive">
            <h1>{{pp.name}}</h1>
            <div class="price">{{pp.unitPrice| currency: 'USD'}}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>

        <!--if products empty then display a message-->
        <div *ngIf="products?.length ==0" class="alert alert-warning col-md-12" role="alert">
          Products not found !
        </div>
      </div>
    </div>
  </div>
</div>
